node_modules
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper.log
debian/node-serialport/
debian/node-serialport-stream/
debian/node-serialport-parser-byte-length/
debian/node-serialport-parser-cctalk/
debian/node-serialport-parser-delimiter/
debian/node-serialport-parser-inter-byte-timeout/
debian/node-serialport-parser-packet-length/
debian/node-serialport-parser-readline/
debian/node-serialport-parser-ready/
debian/node-serialport-parser-regex/
debian/node-serialport-parser-slip-encoder/
debian/node-serialport-parser-spacepacket/
